@cardwidth: 150px;
@cardheigh: @cardwidth * 1.6;

.card {
	img {
		height: @cardheigh;
		width: @cardwidth;
		vertical-align: bottom;
	}
	&.selected img {
		border: 10px solid yellow;
	}
}

.board {
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	position: absolute;
	bottom: 0;
	z-index: -1;
}

.tableau {
	li, .group li {
		display: inline;
	}
}

.civilisation {
	margin-left: 20px;
	margin-bottom: 20px;
}

.hand {
	padding-left: 0;
	position: absolute;
	bottom: 90px;
}

.stack li {
	list-style-type: none;
}

.hfold {
	li {
		display: inline-block;
	}
	* * { margin-right: -@cardwidth/4; }
	:hover { 
		margin-right: 0;
	}
	:hover * {
		height: auto;
		width: auto;
	}
}

.vfold {
	* * { margin-bottom: -@cardheigh* 3/4; }
	:hover {
		margin-bottom: 0; 
	}
}

.stack {
	*:nth-last-child(1) { z-index: 1 }
	*:nth-last-child(2) { z-index: 2 }
	*:nth-last-child(3) { z-index: 3 }
	*:nth-last-child(4) { z-index: 4 }
	*:nth-last-child(5) { z-index: 5 }
	*:nth-last-child(6) { z-index: 6 }
	*:nth-last-child(7) { z-index: 7 }
	*:nth-last-child(8) { z-index: 8 }
}