<section ng-controller="board" class="board">
	<ul class="hand stack hfold">
		<li ng-repeat="card in hand" class="card" 
			ng-class="{selected: card == selected}" ng-click="select(card)">
			<img alt="{{ card }} card" ng-src="/images/assets/{{ card }}.png">
		</li>
	</ul>
	<div class="tableau">
		<ul class="stack vfold">
			<li ng-repeat="card in ressources" class="card">
				<img alt="{{ card }} card" ng-src="/images/assets/{{ card }}.png">
			</li>
		</ul>
		<ul>
			<li ng-repeat="(type, cards) in tableau" class="{{ type }} group">
				<ul class="stack vfold hfold">
					<li ng-repeat="card in cards" class="card">
						<img alt="{{ card }} card" ng-src="/images/assets/{{ card }}.png">
					</li>	
				</ul>
			</li>
		</ul>
	</div>
	<img ng-src="/images/assets/{{ civilisation }}.png" class="civilisation">
</section>